<div class="header">
    <h3>
        投稿する
    </h3>
</div>
<div class="body">
        <div class="contents row">
            <div class="container">
            <%= form_tag('/blogs', method: :post) do %>
                <div class="content-image">
                <input placeholder="Image URL" type="text" name="image" autofocus="true">
                </div>
                <div class="content-title">
                <textarea  cols="30" name="title" placeholder="title" rows="30" rows="10"></textarea>
                </div>
                <div class="content-text">
                <textarea cols="30" name="text" placeholder="text" rows="30" rows="10"></textarea>
                </div>
                <div class="sent">
                <input type="submit" value="SENT">
                </div>
            <% end %>
            </div>
        </div>



</div>