h5{
    color:#ffffff;
    font-size: 60px;
    text-align: center;
    margin-top:30px;
}


.new-acunt{
    height:100vh;
    
    padding-top: 170px;
    text-align: center;

}

.field{

}

.new-comment{
    height: 500px;
    width: 500px;
    padding: 0.5em 1em;
    margin: 2em 30px;
    color: #00BCD4;
    background: #e4fcff;
    border-top: solid 6px #1dc1d6;
    box-shadow: 0 3px 10px rgba(0, 0, 0, 0.32);
    margin:0 auto;
    margin-top: 20px;
}


.acunt-text{
    padding-top:20px;

}